.wrapper
  .top
    - if current_user
      .logged
        .username= "#{current_user.name} "
        .avatar{:style => "background-image:url(#{current_user.image})"}
        .logout= link_to " sign out", "/signout"
    - else
      .login
        = link_to image_tag("sign-in-with-twitter-link.png", :class => "login_image"), "/auth/twitter"
  - if @signed
    = form_for @new_task, :url => { :action => "add" } do |form|
      = form.text_area :text, :maxlength => '140'
      .calendar
      = form.submit "add", :class => "submit"
      .info= image_tag("fi-info.svg", :class => "info_image", :title => "Example: \"buy some milk @3d-16.30\"\nreminder will be delivered in 3 days at 16:30", :style => "display: none")
      .explain
        Ex: "Buy new pencil @3d-16.30"
        %br you will be reminded in 3 days at 16:30
    - @task_list.each do |task|
      .task
        .done
          = check_box_tag "#{task.id}", 'done', task.is_done, class: 'checkbox'
          %label{:for => "#{task.id}"}
        .content{:id => "#{task.id}"}
          .text= "#{task.text}"
          - if task.is_reminder
            - remain_days = (task.date - Time.now.utc)/60/60/24
            - date = "#{remain_days >= 1 ? "in %d" % remain_days + (remain_days.floor == 1 ? ' day ' : ' days ') : ''}at #{"%02d" % task.date.localtime.hour}.#{"%02d" % task.date.localtime.min}"
            .date= "#{date}"
        .edit{:id => "#{task.id}", :style => "display: none"}
          - if task.is_reminder
            - remain_days = (task.date - Time.now.utc)/60/60/24 + 1
            - date = "@#{remain_days >= 1 ? "%d" % remain_days + 'd-' : ''}#{"%02d" % task.date.localtime.hour}.#{"%02d" % task.date.localtime.min}"
          - else
            - date = ''
          = text_field_tag "edit", "#{task.text}#{date}", maxlength: 140
        .control
          = image_tag("fi-pencil.svg", :class => "edit_image", :id => "#{task.id}")
          = link_to image_tag("fi-x.svg", :class => "delete_image", :id => "#{task.id}"), "tasks/destroy/#{task.id}", :method => 'destroy'
          = image_tag("fi-check.svg", :class => "save_image", :id => "#{task.id}", :style => "display: none")
          = image_tag("fi-minus.svg", :class => "cancel_image", :id => "#{task.id}", :style => "display: none")