.wrapper
  .top
    - if current_user
      .logged
        = "#{current_user.name} "
        .avatar{:style => "background-image:url(#{current_user.image})"}
        = link_to " sign out", "/signout"
    - else
      .login
        = link_to "Sign in with Twitter", "/auth/twitter"
  - if @signed
    = form_for @new_task, :url => { :action => "add" } do |form|
      = form.text_area :text, :maxlength => '140'
      = form.submit "add", :class => "submit"
    - @task_list.each do |task|
      .task
        .done
          %input{:type => "checkbox"}
        .content
          = "#{task.text}"
        .control
          = link_to "x", "tasks/destroy/#{task.id}", :method => 'destroy'