.wrapper
  - if current_user
    = ["logged in as ", current_user.name, " |"].join
    = link_to "sign out", "/signout"
  - else
    = link_to "Sign in with Twitter", "/auth/twitter"
  - if @signed
    = form_for @new_task, :url => { :action => "add" } do |form|
      = form.text_field :text
      = form.submit "add"
      .separator
      - @task_list.each do |task|
        .task
          .done
            %input{:type => "checkbox"}
          .content
            = "#{task.text}"
          .control
            = link_to "x", "tasks/destroy/#{task.id}", :method => 'destroy'