%p
  - if current_user
    = ["logged in as ", current_user.name, " |"].join
    = link_to "sign out", "/signout"
  - else
    = link_to "Sign in with Twitter", "/auth/twitter"
%h1 Tasks#index
- if @signed
  = form_for @new_task, :url => { :action => "add" } do |form|
    = form.text_field :text
    = form.submit "add"
    = datetime_select :task, :date, :default => 1.days.from_now, :minute_step => 15
  %ul
    - @task_list.each do |task|
      %li= [task.text, " @ ", task.date].join


